<!DOCTYPE html>
<html>
<% include ./partials/head %>
<body>
	<!-- adding the banner -->
	<% include ./partials/banner %>
	<h1 id="title"><%= title %></h1>
	<!-- adding the display from partials -->
  	<% include ./partials/display %>
	<!-- adding the scripts -->
    <% include ./partials/scripts %>
	<!-- adding tha axios calls -->
    <script src="javascripts/clientside.js"></script>
  </body>
</html>
