<!DOCTYPE html>
<html>
  <% include ./partials/head %>
  <body>
   <% include ./partials/banner %>
    <h1 id="title"><%= title %></h1>
    
    


     
 
   <% include ./partials/display %>
   </table>
      <% include ./partials/scripts %>
          <script src="javascripts/clientside.js"></script>
  </body>
</html>
