<!DOCTYPE html>
<html>
  <% include ./partials/head %>
  <body>
    <h1></h1>
    <p>Welcome to </p>
    
    

<!-- generating the api that  display user name and passport status , date -->
   </table>
      <% include ./partials/scripts %>
          <script src="javascripts/clientside.js"></script>
  </body>
</html>
